<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"><link rel="stylesheet" href="/static/AI.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>portfolio01</title>
  
</head>
<body>
  <div class="wrapper">
  <div id ="header" class="header"><!--下のコードはヘッダーと右上画像-->
    <div>
      <a href="http://syukatsu5797.html.xdomain.jp/">
        <img src="static/images/syukatsulogo.jpg">
      </a>
    </div>
    <div class ="menu"></div>
  </div>
  <div class="title"> <!--タイトル-->
    <h1>TOP PAGE</h1>
  </div>

  <div class="container">
    <div class="contents">
      <div class="subcontents">
        <ing class="oripasamune" background="./images/oripa.jpg"></ing>
        <table class="hixyou" border="1">  <!--表-->
          {% for i in data_atari %}
          <th class="design01" colspan="2">○○オリパ</th>
            <tr>
              
              <td class="design03">残り当たり数</td>
              <td class=atari>{{i.rest_hit_number}}</td> {#{% data %}となっていた。コメントの仕方が違った。 #}
            </tr>
          <tr>
            <td class="design04">全当たり数</td>
            <td class="zentai">{{i.all_hit_number}}</td>
          </tr> 
          {% endfor %}
        </table>
          </div>
      
      <label class="openbutton" for="popup">QRコードを読み取る</label>
      <input type="checkbox" id="popup">
        <div class="gray">
      <div class="popupwindow">
        <label class="popupclose" for="popup">☓</label>
        <h4 class="popuptitle">QRコードを読み取ろう</h4>
        <video id="video" autoplay muted playsinline></video>
        <canvas id="camera-canvas"></canvas>
        <canvas id="rect-canvas"></canvas>
        <span id="qr-msg">QRコードが見つかりません</span>
        
        
      </div>
      
</div>
     <div class = "link"> <a  href="http://syukatsu5797.html.xdomain.jp//about.html">このサイトについて</a></div>
      
</div>
      
      <h1 class="saito">使い方</h1>
        <p>オリパと共に同封されているQRコードを読み取り、上記の「入力しよう」からQRコード番号を送信する</p>
        <p>当たりの場合、残り当たり数が減り現在の残り当たり数がわかるぞ。</p>
      </div>
      <div id="reader"></div>
    


    
  <script src={{ url_for('static', filename='js/jsQR.js') }}></script> <!--jsQRのパッケージを利用。-->
  <script src={{ url_for('static', filename='js/AI.js') }}></script>
  <script src={{ url_for('static', filename='js/camera.js') }}></script>
  
  
</body>
</html>
<!---->

